astropy>=4.0
importlib_resources
matplotlib
numpy
tqdm
atlassian-python-api
beautifulsoup4
ccdproc
ligmos @ git+https://github.com/LowellObservatory/ligmos
JohnnyFive @ git+https://github.com/LowellObservatory/JohnnyFive
